USE [BPT.FMS]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateJournal]    Script Date: 9/25/2025 2:42:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER     PROCEDURE [dbo].[sp_CreateJournal]
    @JournalId UNIQUEIDENTIFIER,
    @Date DATETIME,
    @ReferenceNo NVARCHAR(50),
    @Type NVARCHAR(20),
    @Entries dbo.VoucherEntryTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Journals (Id, Date, ReferenceNo, Type)
    VALUES (@JournalId, @Date, @ReferenceNo, @Type);
    INSERT INTO JournalEntries (Id, JournalId, ChartOfAccountId, Debit, Credit)
    SELECT EntryId, @JournalId, ChartOfAccountId, Debit, Credit
    FROM @Entries;
END
