USE [BPT.FMS]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateVoucher]    Script Date: 9/25/2025 2:43:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	ALTER   PROCEDURE [dbo].[sp_CreateVoucher]
    @VoucherId UNIQUEIDENTIFIER,
    @Date DATE,
    @ReferenceNo NVARCHAR(50),
    @Type NVARCHAR(10),
    @Entries dbo.VoucherEntryTableType READONLY
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Insert into Vouchers table
        INSERT INTO Vouchers (Id, Date, ReferenceNo, Type)
        VALUES (@VoucherId, @Date, @ReferenceNo, @Type);

        -- Insert into VoucherEntries table
        INSERT INTO VoucherEntries (Id, VoucherId, ChartOfAccountId, Debit, Credit)
        SELECT EntryId, VoucherId, ChartOfAccountId, Debit, Credit
        FROM @Entries;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END


